<% provide(:title, "Top") %>
<div class="center jumbotron">
  <h1>試合結果管理アプリ</h1>
  <p>このアプリケーションでは、所属チームの試合結果を閲覧・登録・編集することができます。</p>
  <%= link_to "新規登録", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>