/* 試合結果一覧ページ */
.table-game tr {
  th {
  font-size: large;
  text-align: center;
  }
  td {
    color: black;
    font-size: large;
    font-weight: bold;
    text-align: center;
  }
}

/* 試合結果詳細ページ */
.game-table {
  tr th {
    font-size: medium;
    text-align: center;
  }
  tr td {
    font-size: large;
    font-weight: bold;
  }
}

.score-btn {
  float: right;
  margin-bottom: 10px;
}