/* 試合結果一覧ページ */
.table-game tr {
  th {
  font-size: large;
  text-align: center;
  }
  td {
    color: black;
    font-size: large;
    font-weight: bold;
    text-align: center;
  }
}

.game-table {
  tr th {
    text-align: center;
  }
}