/* ユーザー一覧ページ */

#table-users {
  td {
    vertical-align: middle;
  }  
}

.label-user-division {
  margin-left: 5px;
}

/* ユーザー登録ページ */
.label-new {
  margin-top: 5px;
}

.btn-new {
  margin-top: 10px;
  margin-bottom: 10px;
}

.login-page {
  float: right;
}

/* LINEログインボタン */
.line-login-button {
  background-color: #00C300;
  border-color: #00C300;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  float: right;
  margin-top: 10px;
}