/* ユーザー一覧ページ */

#table-users {
  td {
    vertical-align: middle;
  }  
}

.label-user-division {
  margin-left: 5px;
}

/* ユーザー登録ページ */
.label-new {
  margin-top: 20px;
}

.btn-new {
  margin-top: 10px;
}

.login-page {
  float: left;
  margin-top: 20px;
}

/* LINEログインボタン */
.line-login-button {
  background-color: #00C300;
  border-color: #00C300;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  float: right;
}

/* ログインページ */
.label-login {
  margin-top: 20px;
}

.btn-login {
  margin-top: 10px;
}

.new-page {
  float: left;
  margin-top: 20px;
}

/* ユーザー編集ページ */
.label-edit {
  margin-top: 20px;
}

.btn-edit {
  margin-top: 10px;
}

.delete-btn {
  float: right;
}

.back-page {
  float: left;
  margin-top: 10px;
}